.show-more{
    padding: 20px;
    background-color: rgb(184, 184, 184);
    border-radius: 25px;
    margin-top: 15px;
    position: relative;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}