.container{
  min-height: 100vh;
  background-color: #eee;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px;
}

.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.button-container{
  min-height: 100px;
}

.searchContainer{
  margin-bottom: 15px;
}